body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #134B70;
    margin: 20px 0;
    font-size: 2.5em;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-bar form {
    display: flex;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #508C9B;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.search-bar input[type="text"]:focus {
    border-color: #134B70;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #508C9B;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #134B70;
}

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.movie-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1000px;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-card img {
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.movie-details {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-card h3 {
    color: #508C9B;
    margin: 0 0 15px;
    font-size: 2em;
}

.movie-card p {
    margin: 0 0 10px;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #666;
}

.movie-card h4 {
    margin: 5px 0;
    font-size: 1.1em;
    color: #333;
}

/* Paginator Styles */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

nav a {
    color: #508C9B;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 16px;
    border: 1px solid #508C9B;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #508C9B;
    color: #fff;
}

nav .current-page {
    font-weight: bold;
    color: #134B70;
    border-color: #134B70;
}
